header, footer {
    background: rgb(46,48,53);
    box-shadow:1px 1px 1px 1px black; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer{
    padding: 40px;
}
header > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1.logo {
    display: inline-block;
    font-size: 45px;
    color: #fff;
    margin: .5em 0;
    cursor: pointer;

}
header nav ul{
    margin: 0;
    display: inline-block;
}
header nav ul li {
    list-style-type: none;
}
header nav ul li a{
    color:#fff;
}
.registerDropdown{
    background: rgb(46,48,53);
    position: absolute;
    padding: 10px;
    right: -50px;
    top:80px;
}

.loginDropdown, .registerDropdown{
    display: none;
}
.loginDropdown label{
    color:#fff;
}
.loginDropdown form input, .registerDropdown input{
    display: block;
}
.search{
    margin-right: 25px;
}
.search form, .loginRegisterSearch form{
    margin: 0;
}
.loginRegisterSearch a{
    color: #fff !important;
    padding: 10px;  
}
.loginRegisterSearch form{
    /* display: flex; */
    /* justify-content: space-between; */
position: relative;
}
.loginRegisterSearch form > *{
    /* display: inline-block; */
}
.loginDropdownToggle{

}
input[type="search"] {
    border: none;
    border-radius: 3px;
    padding: 8px;
}
.loginDropdownForm{
    display: none;
}
main{
    background: rgb(235,234,244);
    padding-top: 30px;
    padding-bottom: 30px;
}
form.createEventForm {
    width: 50%;
    margin: auto;
    padding: 20px;
    background: rgb(46,48,53);
    position: absolute;
    top:120px;
    display: none;
}
form.createEventForm label, form.createEventForm input, form.createEventForm textarea{
    color:#fff;
    display: block;
    
}
form.createEventForm textarea{
    color:black;
}
form.createEventForm label{
    margin-top: 10px;
}

form.createEventForm input, .registerDropdown input{
    width: 100%;
    border: none;
    border-radius: 3px;
    color:black;
}
.registerDropdown input{
    margin:10px 0;
}
form.createEventForm textarea {
    width: 100%;
    border: none;
    resize: none;
    border-radius: 3px;
    margin-bottom: 10px;
}

button{
   background:lightgray; border:none; border-radius:3px;
}

/* home page */
.userEvent{
    background: rgb(46,48,53);
    
}
.closeEventPopup{
    color:#fff;
    background: gray;
    padding: 10px;
}