body{
	background-color: rgb(51,51,51);
	
	font-family: "lato";
}
.one{
	background-color: rgb(51,51,51);
	margin-top: 60px;
}


#logo{
	    width: 200px;
    margin-left: 30px;
    float: left;
}
header{
clear: both;
}
nav > ul{
	
    position: relative;
    top: 40px;
    right: 30px;
	float: right;
}
ul li{
	display: inline-block;
	padding: 10px;
}

ul li a{
	text-decoration: none;
	color: #8c96a1;
	    font-weight: 300;
	    letter-spacing: 2px;
}
ul li a:hover{
	color: rgb(0,201,248);
	text-decoration: none;
}

main{

}
main p{
	color: #fff;
	
}
.greeting-text{
	color: #fff;
    font-size: 36px;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 100;
}
.greeting-text:after{
	height: 5px;
    width: 160px;
    background: rgb(0,201,248);
    display: table;
    content: " ";
    margin: 30px auto 25px;
}
section.one{
	clear: both;

}
section.two h2{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #fff;
}
.card-header{
	padding: 0;
}
.card .btn{
	color:rgb(29,32,35);
	margin: auto;
    display: block;
    font-size: 22px;
    font-weight: 100;

}

section.three{
	background-color: #fff;
	margin-top:30px;
	padding-bottom: 30px;
	background-color: rgb(235,235,235);

}
section.three h3{
	text-align: center;
	display: block;
	padding-top: 30px;
}
section.four{
background-color: rgb(34,34,34);
	padding: 30px 0;
}


form{
	
    display: block;
    width: 400px;
  margin: auto;
    
    margin-top: 30px;

}
form input{
	    overflow: visible;
    display: block;
   
    padding: 10px 1px;
    text-indent: 5px;
    border: 1px 1px;
    border-radius: 1px;
    border: none;
    background: #fff;
    width: 100%;
    color: gray;
    letter-spacing: 2px;
    	margin: 20px auto;
}

form button{
	background: rgb(0,201,248);
	color: #fff;
	margin: auto;
	display: block;
}
form .btn{
	display: block;
    padding: 4px 20px;
}
article img{
	width: 240px;
	float: left;
	margin-right: 20px;
}
.hidden{
	display: none;
}
.media-btn-wrap{
	text-align: center;
}
.show{
	display: initial;
}
form label{
	text-indent:2px;
}
input[type=file]{
	margin-top:0;
	color: #fff;
}
.footer-form{
	color: rgb(235,235,235);
}
img.gallery-img{
	width: 200px;
}
nav button{
	border: none;
	
	padding: 2px 10px;


}
/*li.username{
color: #fff;
}*/
.logout-btn{
	cursor: pointer;
}
.profile-img{
	
}
.thank-background{
	    z-index: 1;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    
    

}
.thank-you{
	  position: relative;
    margin: auto;
    display: block;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
  	margin-top: 30px;
    width: 40%;
    text-align: center;
    
}
.thank-you .checkmark{
	width: 200px;
    position: relative;
    margin: auto;
    display: block;
}
.close-btn {
	    width: 25px;
        float: right;
        cursor: pointer;
}
.signup-btn, .login-btn{

}
.hide{
	display: none;
}
.username{
	color: #fff;
}
.profile-img {
    width: 35px;
    
}
.gallery-background{
	background-color: #fff;
	text-align: center;
	padding-top: 40px;

     padding-bottom: 15px;
}
.gallery-background h5{
	display: inline-block;
}
.upload-image{
	color: #fff;
}
.gallery-form{
	color: #fff;
}
.gallery p{
	color: black;
}

.gallery-background img:hover{
	box-shadow:1px 1px 5px black;
}
.gallery-shadow, .cart-shadow{
	background-color: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
}
.gallery-shadow > div{
	background-color: #fff;
}
.gallery-text{
	color: black;
	font-size: 12px;
}
.img-wrap{
	margin: 15px;
   
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.gallery-heading{
	color:#fff;
	text-align: center;
	font-weight: 100;
	letter-spacing: 5px;
	margin-bottom: 30px;
}
footer{
	background-color: rgb(34,34,34);
}
.delete-btn{
	background-color: rgb(214,14,56);
	color: #fff;
	border:none;
	border-radius: 5px;
	font-size: 12px;
	cursor: pointer;
}
.search-img{
	width: 20%;
	margin: 20px;
}
.search-img:hover{
	    box-shadow: 1px 1px 8px grey;
}
.search-form{
	    width: 150px;
    padding: ;
    display: inline-block;
    margin-top: 0;
    float: right;
    margin-right: 100px;
    position: relative;
    right: -80px;
    margin: 30px;
    z-index: -1;
}
.search-form input{
	padding: 4px;

}
#details-img{
	    width: 50%;
    box-shadow: 1px 1px 11px lightgrey;
    border-radius: 10px;
    padding: 10px;
}
.btn-primary:hover{
	cursor: pointer;
}

footer{
	background-color: #fff;
}
.calculation{
	color: black;
    text-align: center;
    background: #fff;
    width: 400px;
    margin: auto;
    margin-top: 20px;
    padding: 5px;
    border-radius: 25px;
}
.warning{
	border:1px solid red;
}
.gal-img,.store-img{
	width:200px;
}

.store-img-wrap{
	width: 25%;
	padding: 25px 0;
}

.shadow-img{
	    top: 100px;
    position: relative;
    width: 30%;
}
.text-box{
	    background: #fff;
    width: 30%;
    margin: auto;
    position: relative;
    bottom: -100px;
}
.cart-icon{
	width: 25px;
	margin-left:10px;
	position: relative;
	bottom: 4px;
}
.item-quantity{
	border: 1px solid black;
}
.cart-div{
padding-top: 20px;
   position: fixed;
    background: #fff;
    right: -320px;
    top: 0;
    width: 300px;
    height: 100%;
    overflow: auto;
    transition: .3s ease;
    z-index: 10;

}
.cart-div-show{
	right: 0;
}
#cart-form{
	width: 100%;
}
.cart-div ul li{
	position: relative;
    
    border-top: 1px solid #e0e6ef;
    display: block;
}
.cart-div .close-x{
width: 25px;
    top: -70px;
    position: relative;
    left: 9px;
    cursor: pointer;
    bottom: 
}
.cart-div h1{
	
	text-align: center;

}
.cart-img{
	    width: 50px;
    float: left;
    margin-right: 10px;
    position: relative;
    top: 5px;
}
.cart-item-delete{
	cursor: pointer;
    right: -100px;
    position: relative;
    bottom: 35px;
}
p.item-text{
	    margin: 0;
    font-size: 12px;
    top: 4px;
    position: relative;
}
.checkout-btn{
	 
    background-color: rgb(0,201,248);
    width: 100%;
    padding: 10px;
    color: #fff;
    cursor: pointer;
}
.total-price{
	    position: relative;
    float: right;
    right: 26px;
}
