body{
	background-color: rgb(34,34,34);
	
	font-family: "lato";
}
.one{
	background-color: rgb(34,34,34);
	margin-top: 60px;
}


#logo{
	    width: 200px;
    margin-left: 30px;
    float: left;
}
header{
overflow: auto;
}
ul{
	float: right;
    position: relative;
    top: 40px;
    right: 30px;
	
}
ul li{
	display: inline-block;
	padding: 10px;
}

ul li a{
	text-decoration: none;
	color: #8c96a1;
	    font-weight: 300;
	    letter-spacing: 2px;
}
ul li a:hover{
	color: rgb(0,201,248);
	text-decoration: none;
}

main{

}
main p{
	color: #fff;
	
}
.greeting-text{
	color: #fff;
    font-size: 36px;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 100;
}
.greeting-text:after{
	height: 5px;
    width: 160px;
    background: rgb(0,201,248);
    display: table;
    content: " ";
    margin: 30px auto 25px;
}
section.one{
	
}
section.two h2{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #fff;
}
.card-header{
	padding: 0;
}
.card .btn{
	color:rgb(29,32,35);
	margin: auto;
    display: block;
    font-size: 22px;
    font-weight: 100;
}

section.three{
	background-color: #fff;
	margin-top:30px;
	padding-bottom: 30px;
	background-color: rgb(235,235,235);

}
section.three h3{
	text-align: center;
	display: block;
	padding-top: 30px;
}
section.four{
	background-color: rgb(29,32,35);
	padding: 30px 0;
}


form{
	
    display: block;
    width: 400px;
  margin: auto;
    
    margin-top: 30px;

}
form input{
	    overflow: visible;
    display: block;
   
    padding: 10px 1px;
    text-indent: 5px;
    border: 1px 1px;
    border-radius: 1px;
    border: none;
    background: #fff;
    width: 100%;
    color: gray;
    letter-spacing: 2px;
    	margin: 20px auto;
}

form button{
	background: rgb(0,201,248);
	color: #fff;
	margin: auto;
	display: block;
}
form .btn{
	display: block;
    padding: 4px 20px;
}
article img{
	width: 240px;
	float: left;
	margin-right: 20px;
}
.hidden{
	display: none;
}
.media-btn-wrap{
	text-align: center;
}
.show{
	display: initial;
}
form label{
	text-indent:2px;
}
input[type=file]{
	margin-top:0;
	color: #fff;
}
.footer-form{
	color: rgb(235,235,235);
}
img.gallery-img{
	width: 200px;
}
nav button{
	border: none;
	border-radius: 3px;
	padding: 2px 10px;


}
/*li.username{
color: #fff;
}*/
.logout-btn{
	cursor: pointer;
}
.profile-img{
	
}
.thank-background{
	    z-index: 1;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    
    

}
.thank-you{
	  position: relative;
    margin: auto;
    display: block;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
  	margin-top: 30px;
    width: 40%;
    text-align: center;
    
}
.thank-you .checkmark{
	width: 200px;
    position: relative;
    margin: auto;
    display: block;
}
.close-btn {
	    width: 25px;
        float: right;
        cursor: pointer;
}
.signup-btn, .login-btn{

}
.hide{
	display: none;
}
.username{
	color: #fff;
}
.profile-img {
    width: 35px;
    margin-right: 10px;
}
.gallery-background{
	background-color: #fff;
	text-align: center;
	padding-top: 40px;
}
.upload-image{
	color: #fff;
}
.gallery-form{
	color: #fff;
}
.gallery p{
	color: black;
}
.gallery-background img{
	width: 185px;
}
.gallery-text{
	color: black;
	font-size: 10px;
}
.img-wrap{
	margin:15px;
}
.gallery-heading{
	color:#fff;
	text-align: center;
	font-weight: 100;
	letter-spacing: 5px;
}