
body{
	font-family: "Avenir",  sans-serif;
    color: #535353;
    font-weight: 300;
    font-size: 0.9375rem;
    line-height: 1.9;
}
.hamburger-menu{
    width: 50px;
    display: none;
}
#logo{
    width: 80px;
    
}
#logo2{
   display: none;
}
.sign-in-wrap{
	padding: 0 10px;

}

.sign-in-btn{
	   
    padding: 4px 20px;
    letter-spacing: 1px;
    font-size: 12px;
    border-color: #fff;
    font-weight: 600;
}
.sign-in-btn, .nav-item a{
	color: #fff;
	opacity: 1;
}
.nav-item a:hover{
	opacity: 1;
	text-decoration: none;
}
a.sign-in-btn.btn:hover{
color: #fff;
}
.nav-item-1{
	line-height: 100px;
}
.slide-out-menu .nav-item-1{
    line-height: 1.9;
}
.nav-item-color{
	    color: #535353;
}
.nav-submenu{
	       position: fixed;
    /* top: 100%; */
    left: 0;
    right: 0;
    top: 110px;
    background-color: rgba(0, 0, 0, 0.85);
    padding-left: 10px;
    line-height: 2.4;
    padding: 8px 16px;
    /* left: -16px; */
    min-width: 150px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
    -webkit-transition: .5s;
    transition: .5s;
    z-index: 1;
}
.show{
	opacity: 1;
    visibility: visible;
    top: 80px;
}
.slide-out-menu{
    padding-top: 20px;
    position: fixed;
    background: #fff;
    
    top: 0;
    width: 300px;
    height: 100%;
    overflow: auto;
    transition: .3s ease;
    z-index: 10;
    left:-320px;
}
.slide-out-menu ul li{
    list-style-type: none;
}
.slide-out-menu ul li a{
   color:black;
}
.top-bar{
	    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    height: 90px;
    border-radius: 0;
    z-index: 910;
    -webkit-transition: margin-left .5s;
    transition: margin-left .5s;

	    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}
.top-bar .ham-menu-white{
    display: none;
}
.top-bar .ham-menu-white div{
        
    background: #fff;
    margin: 8px 0px;
    width: 43px;
    height: 5px;
    
    
}

.position-fixed{
	position: fixed;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.98);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.06);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.06);
    -webkit-transition: margin-left .5s, background-color .5s;
    transition: margin-left .5s, background-color .5s;
}
.header-text-break{
   position: absolute;
}
.top-bar .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 90px;
}

.top-bar nav{
	    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-bar nav ul{
	    margin: 0;
}
.top-bar nav ul li {
	list-style-type:none;
	    list-style-type: none;
    padding: 0 10px;
}

.top-bar nav ul li a{
	    
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0;
    -webkit-transition: .3s;
    transition: .3s;
    font-size: 12px;
}
.top-bar nav ul li a:hover{
	    
    color: #fff;
}

h1, h2, h3, h4, h5, h6{
	font-family: "Roboto", "Open Sans", sans-serif;
    font-weight: 600;
    color: #37404d;
    letter-spacing: 1px;
    line-height: 1.6;
}
.top-bar h4{
	font-weight: 200;
	font-size: 1.5rem;
}
header{
	background-image: url('../img/optimized/background1.jpg');
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-color: lightgray;
	background-attachment: fixed;
	padding: 120px 0 100px;
}
header h1{
    text-align: center;
     color: #fff;
    
    font-size: 2.5rem;
    padding: 125px 0;
    
        letter-spacing: 3px;
    font-weight: 1600;

}
.heading-wrap{
    display: inline;
}
.underline{
    border-bottom: 2px solid #fff;
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;

}
.fadeIn {
    
  }
.fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}
header h4{
	 font-weight: 100;
}
.news-header{
	background-image: url('../img/optimized/background1.jpg');
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-color: lightgray;
	background-attachment: fixed;
	text-align: center;
}
/*.news-header::before{
	    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   background-color: rgba(0,0,0,0.3);
   width: 100%;
   height: 100%;
   z-index: 0;*/



.about-content h2, .about-content p{
    text-align: left;
}
.about-content h2{
    margin-top: 40px;
}
.about-content p{
    font-size: 18px;
}
.news-header h1, .about-header h1{
	color: #fff;
	font-size: 2.5rem;
	font-weight: 600;
    padding: 5px 0;
}
.news-header p{
font-size: 20px;
    opacity: 0.7;
    color: #fff;

}

.nav-item{
	display: inline-block;

}
.header-btn{
	background-color: #0facf3;
    border-color: #0facf3;
    color: #fff;
    border-radius: 10rem;
        font-weight: 600;
    font-size: 11px;
    padding: 10px 30px;
    line-height: inherit;
   
    letter-spacing: 1.7px;
    text-transform: uppercase;

    
}
p.lead{
	font-weight: 300;
	font-size: 1.0625rem;
}
section{
	    background-color: #fff;
    overflow-x: hidden;
}
.section{
	   padding: 45px 0;
    background-color: #fff;
    overflow-x: hidden;
}
.section-header{
	    text-align: center;
    max-width: 70%;
    margin: 0 auto 70px;
}
.section-header small {
    display: inline-block;
    font-size: 0.6875rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    opacity: .6;
        margin-top: 15px;
}
small{
	    color: #b5b9bf;

}
.section-header hr{
	    width: 50px;
    margin-bottom: 1.5rem;
}
hr{
	margin:2rem auto;
}
.section-one a{
    color: gray;
}
.section-one h2, .section-three h2{
        font-size: 1.75rem;   
        font-weight: 200;
        background: -webkit-linear-gradient(left, rgb(75,202,234),  rgb(111,194,107));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

.section-two{
background-image: url('../img/optimized/WebpageFullPhone.jpg');

	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-color: lightgray;
	background-attachment: fixed;
	padding: 200px 0;
	text-align: center;
}
.slide-menu-shadow{
    background-color: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    display: none;
}

.icon-box{
    text-align: center;
}
.container .center{
    text-align: center;
}
.icon{
    display: inline-block;
    padding: 10px;
    vertical-align: top;
     width: 180px; 
    text-align: center;
    margin-bottom: 10px;
}

strong{
	font-weight: 700;
}
.section-two h5{
	font-size: 30px !important;
    line-height: 1.2;
    font-weight: 300;
    margin-bottom: 45px;
}
.section-two a, .section-four a{
	
    border:1px solid #fff;
    color: #fff;
    border-radius: .25rem;
    width: 250px;
}

.card{
	text-align: center;
}
.card-title{
	font-weight: 600;
    line-height: 1.5;
    letter-spacing: .5px;
    border-bottom: #f1f2f3;
        margin-bottom: .75rem;
}
/*.section-three .col-md-5{
    background-color: lightgray;
}*/
.section-three .img-wrap{
    width: 100%;

}

.section-three img{
	width: 100%;

    background-color: lightgray;

}

.slider-section{
    background-color: rgb(248,248,248);
}
.slider-section h3{
    text-align: center;
    font-weight: 100;

}

.carousel{
    margin:100px 0;
}
.carousel img{
    max-width: 100px;
    margin: auto;
    height: 20px;
    transform: scale(2);
    line-height: 1.5rem;
}
img.alpha-media{
    transform: scale(3);
}
.slick-list{
    overflow: initial;
}

img.tegna{
    transform: scale(1);
}
.section-four{
    background: linear-gradient(to right, rgba(71,191,231), rgba(104,184,84));
    text-align: center;
}

footer{
	font-size: 0.85rem;
    border-top: 1px solid #f1f2f3;
    padding: 30px 0;

}
footer p, footer ul{
    margin-bottom: 0;
}
footer ul{
	    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
footer li{
    list-style-type: none;
}
footer a{
	color: #535353;
}
footer .nav-link{
	
	line-height: normal;
    /* padding: 0;
    -webkit-padding: .5rem 1rem; */
}
footer .social{
	display: flex;
	justify-content: space-evenly;
}
    @media screen and (max-width: 1199px){

header h1{
    font-size: 2rem;
    
        text-align: left;
    
}
header h4{
	 font-size: 1.25rem;
}

p.lead{
	    font-size: 1rem;
}
.section-one h2, .section-three h2{
        font-size: 1.60rem;   
        
}
  @media screen and (max-width: 991px){
    .heading-wrap{
        display: block;
    }
    }
@media screen and (max-width: 767px){
    .section-header{
        max-width: 100%;
    }
    .top-bar .ham-menu-white{
        display: initial;
}
.slide-out-menu{
    margin-left:-20px;
    width: 250px;
}


.color{
    margin: 10px;
}
hr{
    background:black;
}
.header-text-break{
    display: block;
}
 .sign-in-wrap, .nav-item{
    display: none;
}
/*.show-slide-menu{
     left: 0;
}*/
.section-three h4{
    padding: 10px 0;
}
.hamburger-menu{
    display: inline-block;
    cursor: pointer;
    margin-top: 10px;
    
}
.slide-menu-shadow{
    background-color: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
   /* display: none;*/
}

#logo{
    display: none;
}
#logo2{
    display: initial;
    width: 80px;
    position: relative;
right: -15px;
}
.icon{
   
     width: 32%; 
   
}
img.alpha-media{
    transform: scale(4);
}
footer{
    text-align: center;
}
@media screen and (max-width: 455px){
    .slide-out-menu{
      
        width: 200px;
    }
.icon{
   
     width: 45%; 
   
}

}

}