body{
	background-color: #fff;
	
	font-family: "lato";
}
.one{
	background-color: rgb(29,32,35);
}


#logo{
	    width: 200px;
    margin-left: 30px;
    float: left;
}
header{
overflow: auto;
}
ul{
	float: right;
    position: relative;
    top: 40px;
    right: 30px;
	
}
ul li{
	display: inline-block;
	padding: 10px;
}

ul li a{
	text-decoration: none;
	color: #8c96a1;
	    font-weight: 300;
	    letter-spacing: 2px;
}
ul li a:hover{
	color: #fff;
	text-decoration: none;
}
main{

}
main p{
	color: #fff;
	
}
.greeting-text{
	color: #fff;
    font-size: 36px;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 100;
}
.greeting-text:after{
	height: 5px;
    width: 160px;
    background: #d55e2a;
    display: table;
    content: " ";
    margin: 30px auto 25px;
}
section.one{
	
}
section.two h2{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

section.three{
	background-color: #fff;
	margin-top:30px;
}

footer{
	padding-bottom: 30px;
	background-color: rgb(235,235,235);
}
form{
	
    display: block;
    width: 400px;
  margin: auto;
    
    margin-top: 30px;

}
form input{
	    overflow: visible;
    display: block;
    margin: 20px 0;
    padding: 10px 1px;
    text-indent: 5px;
    border: 1px 1px;
    border-radius: 1px;
    border: none;
    background: #fff;
    width: 100%;
    color: gray;
    letter-spacing: 2px;
}

form button{
	background-color: #d55e2a;
	color: #fff;
	margin: auto;
	display: block;
}
form .btn{
	display: block;
    padding: 4px 20px;
}
article img{
	width: 240px;
	float: left;
	margin-right: 20px;
}


